body
{	
	margin: 0;
	padding: 0;
}
@media (max-width: 600px)
{
.cont
{
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#header 
{
	max-width: 100%;
	flex: 1;
	order: 1;
	height: auto;
	margin-bottom: 10px;
	background-image: url(H5TP8QWodh8.jpg)
}
footer
{
	flex: 1;
	order: 3;
	width: 100%;
	height: auto;
	color: #FF0000;
	background-image: url(2131321651.jpg)
}
.nav
{
	flex: 1;
	order: 2;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}
}
#header 
{
	flex: 1;
	order: 1;
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
	background-image: url(H5TP8QWodh8.jpg)
	
}
footer
{
	flex: 1;
	order: 3;
	width: 100%;
	height: 155px;
	color: #FF0000;
	background-image: url(2131321651.jpg)
}
.nav
{
	flex: 1;
	order: 2;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}
